p {
    margin:0;
    padding:0;
}

a.output:link {
text-decoration : none;
color : #4e4e4e;
}
a.output:active {
text-decoration : none;
color : #4e4e4e;
}
a.output:visited {
text-decoration : none;
color : #4e4e4e;
}
a.output:hover {
text-decoration : underline;
color : #4e4e4e;
}
a.r:link {
text-decoration : none;
color : #000000;
}
a.r:active {
text-decoration : none;
color : #000000;
}
a.r:visited {
text-decoration : none;
color : #000000;
}
a.r:hover {
text-decoration : none;
color : #000000;
}
body.output {
font-family : Verdana;
font-size : 8pt;
color : #000000;
}
b.color1 {
font-family : Verdana;
font-size : 8pt;
color : #33cc66;
}
b.color2 {
font-family : Verdana;
font-size : 8pt;
color : #ff0000;
}
td.output {
font-family : Verdana;
font-size : 8pt;
color : #000000;
}
td.small {
font-family : Verdana;
font-size : 7pt;
color : #000000;
}
table.output {
font-family : Verdana;
font-size : 8pt;
color : #000000;
}
textarea {
background-color : #f9f9f9;
border : 1px solid #666666;
}
textarea.newsolved {
background-color : #f9f9f9;
border : 1px solid #666666;
}
textarea.newsolved_no {
background-color : #f9f9f9;
border : 1px solid #dddddd;
color : #dddddd;
}
select.output {
color : #000000;
font-family : Verdana;
font-size : 8pt;
border-color : #000000;
border-width : 1px;
width: 100px;
}
input.output {
color : #000000;
font-family : Verdana;
font-size : 8pt;
border-color : #000000;
border-width : 1px;
}
input.submit {
color : #000000;
font-family : Verdana;
font-size : 8pt;
border-color : #000000;
border-width : 1px;
font-weight: bold;
width: 70px;
height: 18px;
}
input.button {
color : #000000;
font-family : Verdana;
font-size : 8pt;
border : 1px solid #000000;
background-color : #cccccc;
}
input.delbutton {
color : #999999;
font-family : Verdana;
font-size : 8pt;
border : 1px solid #cccccc;
background-color : #ffffff;
}
input.newsolved {
color : #000000;
font-family : Arial;
font-size : 7pt;
border : 1px solid #666666;
}
input.newsolved_no {
color : #dddddd;
font-family : Arial;
font-size : 7pt;
border : 1px solid #dddddd;
}
input.inst {
color : #000000;
background-color : #f0f0f0;
font-family : Verdana, Arial, Helvetica, sans-serif;
font-size : 8pt;
font-weight : bold;
border-color : #000000;
border-width : 1px;
}
.tooltip {
position : absolute;
display : none;
background-color : #ffffff;
font-size : 7pt;
border : 1px solid #000000;
padding : 2px;
}
.output {
color : #000000;
font-family : Verdana;
font-size : 8pt;
border-color : #000000;
border-width : 1px;
}
.error {
color : #FF0000;
font-family : Verdana;
font-size : 8pt;
border-color : #000000;
border-width : 1px;
}
#formOutput
{
	clear: both;
	padding-top: 10px;
	display: none;
}
#loading
{
	float: left;
    display: none;
}
.clear {
	clear: both;
}