body {
	background-color: #00B0F0;
	font-family: Calibri, Verdana, Arial;
}

a:link {
	color: #000000;
}

a:visited {
	color: #000000;
}

a:hover {
	color: #000000;
}

a:active {
	color: #000000;
}

.error {
	background-color: #FFC7CE;
	border-style: dotted;
	color: #FF0000;
	font-weight: bold;
}

.notlogged {
	background-color: #FFC7CE;
	border-style: dotted;
	color: #FF0000;
}
.loggedout {
	background-color: #C6EFCE;
	border-style: dotted;
	color: #006100;
}

.pageframe {
	border-collapse: collapse;
}

.register {
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #000000;
}

.registerActive {
	font-weight: bold;
	background-color: #FFCC99;
	border-bottom-width: 0px;
	border-top-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-color: #000000;
}

.TabelleUeberschrift {
	font-weight: bold;
	background-color: #FFCC99;
	border-color: #000000;
}